[user]
	email = pyliu@yahoo-inc.com
	name = pyliu
[alias]
        info = remote -v
        co = checkout
        ci = commit
        st = status
        br = branch -v
        rt = reset --hard
        unstage = reset HEAD
        uncommit = reset --soft HEAD^
        lol = log --pretty=oneline --abbrev-commit --graph --decorate --all
        lolf = log --decorate --stat --graph --pretty=format:\"%d %Cgreen%h%Creset (%ar - %Cred%an%Creset), %s%n\"
        who = shortlog -n -s --no-merges
        g = grep -n --color -E
        addall = !sh -c 'git add . && git add -u'
[color]
        ui = true
        log = auto
        diff = auto
        status = auto
        branch = auto
[push]
	default = simple
